html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
body{
    background-color: rgb(73, 8, 73);
    color: green;
}
section{
    height: 100vh;
    color: white;
    scroll-snap-align: center;
}

a{
    text-decoration: none;
    color: inherit;
}

.Personal-details{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .box{
        width: 200px;
        height: 200px;
        background-color: whitesmoke;
        display: flex;
        justify-content: center;
        margin: auto;
    }
}